.root{
    -fx-background-image: url("/sprites/space_background.gif");
    -fx-background-repeat: stretch;
    -fx-background-size: 600 600;
    -fx-background-position: center center;
    -fx-font-family: Consolas;
}
#play_button{
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-background-color: green;
}

#play_button:hover{
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-background-color: white;
}

#title{
   -fx-fill: red;
}

#made_by, #belal, #antonio{
    -fx-fill: red;
}

#controls{
    -fx-fill: green;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

#up, #left_right, #spacebar, #m_key, #accelerate, #rotate, #shoot, #music{
    -fx-font-size: 16px;
    -fx-fill: green;
}

#up, #left_right, #spacebar, #m_key{
    -fx-font-weight: bold;
}